* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif','Times New Roman', Times, serif;
}
body {
    background: rgb(165,42,42);
    background: linear-gradient(90deg, rgba(165,42,42,1) 20%, rgba(210,125,45,1) 88%);
}
/* nav */
span.navFont {
    font-size: 40px;
    font-weight: bold;
}
nav.navColor {
    background-color: #f5f5f5;
    opacity: 0.5;
    border-bottom: 0 solid #e5e5e5;
    -webkit-box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.57);
    box-shadow: 0px 3px 7px 1px rgba(0,0,0,0.57);
}
/* input form */
.titleInput,
.authorInput,
.pagesInput {
    font-size: 20px;
    outline: none;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #EADDCA;
    cursor: pointer;
    padding-left: 5px;
    border: none;
}
.readLabel {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #EADDCA;
    padding-left: 3px;
    width: 60px;
    color: #808080;
}
input[type=checkbox] {
    display: none;
}

/* table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}

th {
  background-color:#EADDCA;
  opacity: 0.3;
  font-size: 24px;
  padding: 8px;
}
td,
th {
  padding: 8px;
  border: 1px solid black;
}
tr {
    font-size: 20px;
    
}
td {
  padding: 8px;
  border-bottom: 1px solid black;
}

/* button */
button.btnStyle {
    background-color: #a52a2a;
    font-size: 30px;
    padding: 10px;
    margin: 15px;
    border-radius: 50%;
    border: none;
    text-align: center;
}

.deleteBtn{
    background-color: #D27D2D;
    border: none;
}
.submitBtn{
    padding: 4px;
    background-color: #808000;
    border: none;
    border-radius: 7px;
    margin-left: 5px;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #f5f5f5;
    opacity: 0.5;
    text-align: center;
    font-size: 1.1rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    border-top: 0 solid #e5e5e5;
    -webkit-box-shadow: 0px -3px 7px 1px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px -3px 7px 1px rgba(0,0,0,0.57);
    box-shadow: 0px -3px 7px 1px rgba(0,0,0,0.57);
}
